@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  resize: none;
}

:root {
  --blue: rgb(40, 124, 255);
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --green: #20B042;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #20B042;
  width: 5px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #20B042;
}

img, .noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.topbar {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 2px 20px;
  font-size: 18px;
  padding-left: 35px;
  line-height: 40px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon, .search label i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  font-size: 1.2em;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlayLoad {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 99999999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overlayLoad img {
  width: 70%;
  max-width: 450px;
  opacity: .9;
  -webkit-animation: opacidade 3s infinite;
          animation: opacidade 3s infinite;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: black;
  border-left: 10px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li.hovered,
.navigation ul li:hover {
  background: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #b0986c;
}

.navigation ul li a.logo {
  position: relative;
  top: 10px;
}

.navigation ul li a.logo .title {
  font-family: "Cormorant Garamond";
  color: #b0986c;
  font-size: 30px;
  letter-spacing: 0.1em;
}

.navigation ul li.hovered a,
.navigation ul li:hover a {
  color: var(--green);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon img {
  height: 100%;
  width: 100%;
}

.navigation ul li a .icon ion-icon, .navigation ul li a .icon i {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* curve outside */
.navigation ul li:hover a:before,
.navigation ul li.hovered a:before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 35px 35px 0 10px var(--white);
          box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
  z-index: 999999;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 35px -35px 0 10px var(--white);
          box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.loadingSave {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 20px;
  left: 20px;
  background: #fff;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loadingSave .circle {
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 2;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #20B042;
}

.loadingSave .circle .circleInner {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loadingSave .circle .circleInner::before {
  content: '';
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff38;
  -webkit-animation: spinning 1.2s infinite linear;
          animation: spinning 1.2s infinite linear;
  position: absolute;
  z-index: 1;
}

.loadingSave .circle .circleInner::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  background: #fff;
  z-index: 2;
  border-radius: 100%;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loadingSave .saved {
  position: absolute;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 0 10px 0;
  text-align: center;
}

.loadingSave .saved i {
  font-size: 30px;
  color: #20B042;
}

.loadingSave .saved p {
  font-size: 11px;
  font-weight: bold;
  color: #20b042;
}

.loadingSave.done .circle {
  z-index: -1;
  opacity: 0;
}

.loadingSave.done .saved {
  z-index: 1;
  opacity: 1;
}

.loadingSave.active {
  z-index: 10002;
  opacity: 1;
}

@media (max-width: 991px) {
  .graphBox {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0px;
  }
  .main {
    left: 0;
    width: 100%;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  div.main.active .toggle {
    position: fixed;
    right: 0;
    top: 10px;
    left: initial;
    color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */