table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    tr{
      height: 70px;
      line-height: 70px;
      border-bottom: 2px double rgba(153, 153, 153, 0.301);

      td:first-of-type{
        padding: 0 5px;
        .dragDelete{
          height: 100%;
          width: 70%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .drag{
            height: 35px;
            width: 32px;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            cursor: move;
            p{
              display: block;
              width: 7px;
              height: 7px;
              background: #999;
              border-radius: 50%;
            }
          }

          .deleteProduct{
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 30px;
            font-weight: lighter;
            font-size: 50px;
            transform: rotate(-45deg);
            cursor: pointer;
            color: red;
          }
        }
      }

      td{
        height: 70px;
        line-height: 20px;

        .tdContainer{
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          img{
            height: 50px;
            width: 50px;
            margin-right: 10px;
            border-radius: 50%;
          }

          input{
            text-align: left;
            background: none;
            outline: none;
            border: none;
            font-size: 16px;

            &:focus{
              outline: 1px solid #20B042;
              box-shadow: 0px 0px 3px 6px #20b04221;
            }
          }

          input[type=number]{
            width: 50px;
            margin-left: 5px;
          }
        }
        
      }

      .price{
        width: 200px;
      }

    }
  }